<div class="container">
    <h3 mat-dialog-title>Eventuality id: {{data.id}}</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

        <div class="form">
            <mat-form-field color="accent">
              <input matInput #inputname class="form-control" placeholder="Type" [(ngModel)]="data.type" name="type"
                      maxlength="20">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              <mat-hint align="end">{{inputname.value?.length || 0}}/20</mat-hint>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
              <textarea matInput #input class="form-control" placeholder="Date Eventuality" [(ngModel)]="data.dateEvent" name="dateEvent"
                        required></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorDate()}}</mat-error>
            </mat-form-field>
          </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #inputprice class="form-control" placeholder="injuryType" [(ngModel)]="data.injuryType" name="injuryType"
                   maxlength="20">
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            <mat-hint align="end">{{inputprice.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
              <input matInput #inputbrand class="form-control" placeholder="injuryPart" [(ngModel)]="data.injuryPart" name="brand"
                     maxlength="20">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              <mat-hint align="end">{{inputbrand.value?.length || 0}}/20</mat-hint>
            </mat-form-field>
          </div>

          <div class="form">
              <mat-form-field color="accent">
                <input matInput #inputcant class="form-control" placeholder="Descripcion" [(ngModel)]="data.description" name="description"
                       maxlength="250">
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                <mat-hint align="end">{{inputcant.value?.length || 0}}/250</mat-hint>
              </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                  <input matInput #inputcant class="form-control" placeholder="Employee Id" [(ngModel)]="data.employeeId" name="employeeId"
                         maxlength="5">
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  <mat-hint align="end">{{inputcant.value?.length || 0}}/5</mat-hint>
                </mat-form-field>
              </div>

      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">
          Save
        </button>
        <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>

