<div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Choose a start date" [(ngModel)]="startPickerInput">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="Choose a final date" [(ngModel)]="endPickerInput">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="">
      <input matInput placeholder="Employee" name="employee" id="employeeid" [(ngModel)]="employeeNameLike">
    </mat-form-field>
    <!--<mat-form-field>-->
      <!--<mat-select [(value)]="employeeSelected">-->
        <!--<mat-option value="1">Employee 1</mat-option>-->
        <!--<mat-option value="2">Employee 2</mat-option>-->
        <!--<mat-option value="3">Employee 3</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
    <mat-form-field>
      <mat-select [(value)]="typeEventSelected" id="dropdwon">
        <mat-option value="Accidente">Accidente</mat-option>
        <mat-option value="Incidente">Incidente</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button id="load" (click)="ChangeDateRange()" >Load all</button>

  </div>
</div>

<div>
    <mat-table [dataSource]="dataSource" matSort class="mat-cell">
        <ng-container matColumnDef="employeeName">
          <mat-header-cell *matHeaderCellDef>Employee Name </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.employeeName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="accidents">
          <mat-header-cell *matHeaderCellDef>No Accidents </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.accidents}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="incidents">
          <mat-header-cell *matHeaderCellDef>No Incidents </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.incidents}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<div style="width: 90%; margin-left: 5%;">
  <canvas #testChart='base-chart' baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
</div>
