<div class="container">
  <mat-toolbar color="#f5f5f5">
    <h3 mat-dialog-title>Add New Training</h3>
  </mat-toolbar>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #code maxlength="30" class="form-control" placeholder="Code" [(ngModel)]="data.code"
                  name="code"
                  required></textarea>
        <mat-hint align="start"><strong>Enter Training code</strong> </mat-hint>
        <mat-hint align="end">{{code.value.length}} / 30</mat-hint>
      </mat-form-field>
    </div>
    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #name maxlength="150"  class="form-control" placeholder="name" [(ngModel)]="data.name"
                  name="name"
                  required>
        </textarea>
        <mat-hint align="start"><strong>Enter Training code</strong> </mat-hint>
        <mat-hint align="end">{{name.value.length}} / 150</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #instructor maxlength="250" class="form-control" placeholder="Instructor" [(ngModel)]="data.instructor"
                  name="instructor"
                  required></textarea>
        <mat-hint align="start"><strong>Enter Instructor Training</strong> </mat-hint>
        <mat-hint align="end">{{instructor.value.length}} / 250</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="AreasTraining" [(ngModel)]="data.area_id" name="areasTraining">
          <mat-option *ngFor="let area of areasTraining" [value]="area.value">
            {{area.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
        Save
      </button>
      <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
