<mat-toolbar class="header">
  <span><img src="../../assets/images/acmelogo.jpg" height=30 width=41></span>
  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
  <button id="menuEmployee" mat-button [matMenuTriggerFor]="menuEmployee"><span class="fa fa-user fa-lg"></span>Employee
  </button>
  <mat-menu #menuEmployee="matMenu">
    <button id="menuItemEmployees" mat-menu-item routerLink="/employee">Employees</button>
    <button id="menuItemAreas" mat-menu-item routerLink="/area">Areas</button>
    <button id="menuItemRole" mat-menu-item routerLink="/role">Roles</button>
    <!--<button id="menuItemSkills" mat-menu-item routerLink="/skill">Skills</button>-->
    <button id="menuItemPosition" mat-menu-item routerLink="/position">Position</button>
    <button id="menuItemTraining" mat-menu-item routerLink="/training">Training</button>
    <button id="menuItemEmployeeTraining" mat-menu-item routerLink="/EmployeeTraining">Employee Training</button>
    <button id="menuItemItems" mat-menu-item routerLink="/item">Items</button>
    <button id="menuItemCategory" mat-menu-item routerLink="/category">Category</button>
    <button id="menuItemSubCategory" mat-menu-item routerLink="/subcategory">Subcategory</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuContract"><span class="fa fa-user fa-lg"></span>Contract</button>
  <mat-menu #menuContract="matMenu">
    <button mat-menu-item routerLink="/contract">List of Contracts</button>
    <button mat-menu-item routerLink="/register-contract">Register Contract</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuInident"><span class="fa fa-user fa-lg"></span>Incident and Accident
  </button>
  <mat-menu #menuInident="matMenu">
    <button mat-menu-item routerLink="/eventualities">Incident and Accident</button>
    <!--<button mat-menu-item routerLink="/accident">Report by Employee</button>-->
  </mat-menu>

  <button id="mainItem" mat-button [matMenuTriggerFor]="menuItem"><span class="fa fa-address-book-o"></span>Items </button>
  <mat-menu #menuItem="matMenu">
    <a id="optionItem" mat-button routerLink="/item"><span class="fa fa-address-book-o"></span>Item</a>
    <a id="category" mat-button routerLink="/category"><span class="fa fa-list fa-lg"></span>Category</a>
    <a id="subcategory" mat-button routerLink="/subcategory"><span class="fa fa-list fa-lg"></span>SubCategory</a>
  </mat-menu>
  <!--Tab for Project-->
  <button mat-button [matMenuTriggerFor]="menuProject"><span class="fa fa-user fa-lg"></span>Project</button>
  <mat-menu #menuProject="matMenu">
    <button mat-menu-item routerLink="/project">Projects</button>
    <button mat-menu-item routerLink="/auditory">Auditory</button>
    <button mat-menu-item routerLink="/contracts">Contracts</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="menuAudit"><span class="fa fa-user fa-lg"></span>Audits</button>
  <mat-menu #menuAudit="matMenu">
    <button mat-menu-item routerLink="/audit">Audit</button>
    <button mat-menu-item routerLink="/safetyRule">Safety Rules</button>
    <button mat-menu-item routerLink="/auditHistory">Audit History</button>
  </mat-menu>


  <a mat-button routerLink="/contact"><span class="fa fa-address-card fa-lg"></span> Contact</a>

  <button mat-button [matMenuTriggerFor]="menuReport"><span class="fa fa-user fa-lg"></span>Report</button>
  <mat-menu #menuReport="matMenu">
    <button mat-menu-item routerLink="/accidentReport">Accident</button>
    <button mat-menu-item routerLink="/chart">Graphic Reports</button>
  </mat-menu>
  <a mat-button routerLink="/about"><span class="fa fa-info fa-lg"></span> About</a>

  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>

</mat-toolbar>

<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <!--<div fxFlex fxFlex.gt-sm="50%">
    <h1>SSI</h1>
    <p>We take inspiration from the World's best safety practices, and create a unique fusion experience. Our awesome safety protection items
      will tickle your safety vision!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="../../assets/images/acmelogo.jpg" alt="Logo" width="200" height="200">
  </div>-->
  <!--<div fxFlex></div>-->
</div>
