<div class="container footer"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutWrap
     fxLayoutGap="10px">
  <div fxFlex="100%" fxFlex.gt-sm="50%">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i
        class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i
        class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
    <div class="footer__address">
      <h4>Our Address</h4>
      <address class="address">
        <div class="address__info">
          121, Dr. Drive <br> San Jose, California<br> MOUNTAIN VIEW<br>
        </div>
        <div class="address__details">
          <i class="fa fa-phone"></i>: +1 1234 5678<br>
          <i class="fa fa-fax"></i>: +1 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:acme-info@acme.net">acme-info@acme.net</a>
        </div>
      </address>
    </div>
  </div>
</div>
