<div class="container">
  <mat-toolbar color="#f5f5f5">
    <h3 mat-dialog-title>Add New Role</h3>
  </mat-toolbar>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Code" [(ngModel)]="data.code"
                  name="code"
                  required></textarea>
      </mat-form-field>
    </div>
    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Description" [(ngModel)]="data.description"
                  name="description"
                  required></textarea>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
        Save
      </button>
      <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
