  <button (click)="download()">Download Report Page as PDF</button>
   <!--<div> Reporte 1</div>-->
  <br/><br/>
  <div id="reportPage" class="container"
       fxLayout="column"
       fxLayoutGap="10px">
    <!--<div id="chartContainer" style="width:70%; float: left;">-->
      <!--<canvas id="myChart"></canvas>-->
    <!--</div>-->
<!--    <div> Reporte 1 <br/><br/></div>-->
    <div style="width: 70%; float: left;">
      <!--<canvas id="myChart2"></canvas>-->
      <app-barchart></app-barchart>
      <!--<app-piechart></app-piechart>-->
    </div>
    <div>  </div>

    <div style="width: 60%; height: 400px; clear: both;">
      <!--<canvas id="myChart3" style="width: 40%"></canvas>-->
      <!--<app-barchart></app-barchart>-->
<!--      <br/><br/>Reporte 2<br/><br/>-->
      <app-piechart></app-piechart>
    </div>

  </div>

