<mat-toolbar color="#f5f5f5">
  <span>Eventuality List</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="form">
  <mat-form-field floatPlaceholder="never" color="accent">
    <input matInput #filter placeholder="Filter Accidents and Incidents">
  </mat-form-field>
</div>

<div class="container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type Event</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateEvent">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date Event</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dateEvent}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="injuryType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Injury Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.injuryType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="injuryPart">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Injury Part</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.injuryPart}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="employeeId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Employee (ID)</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.employeeId}}</mat-cell>
    </ng-container>
        <!-- actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="#323544" (click)="addNew()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
            </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="#323544"
                      (click)="startEdit(i, row.id, row.type, row.dateEvent, row.injuryType, row.injuryPart, row.description, row.employeeId)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

            <button mat-icon-button color="#323544"
                      (click)="deleteItem(i, row.id, row.type, row.dateEvent, row.injuryType, row.injuryPart, row.description, row.employeeId)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>

          </mat-cell>
          </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>
</div>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
