<div class="container">
  <mat-toolbar color="#f5f5f5">
    <h3 mat-dialog-title>Are you sure?</h3>
  </mat-toolbar>
  <div mat-dialog-content>
    Id: {{data.id}}
    <p></p>
    Code: {{data.code}}
    <p></p>
    Name: {{data.name}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
  </div>
</div>
