<mat-toolbar color="f5f5f5">
  <span>Audit</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter Audits">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="auditName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.auditName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="auditCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Code</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.auditCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="auditType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.auditType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="auditPeriodicity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Periodicity</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.auditPeriodicity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="auditScope">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Scope</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.auditScope}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="auditObjective">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Audit Objective</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.auditObjective}}</mat-cell>
    </ng-container>


    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button id="edit_audit{{i}}" mat-icon-button color="accent"
                (click)="startEdit(i, row.id, row.auditName, row.auditCode, row.auditType, row.auditPeriodicity, row.auditScope, row.auditObjective, row.auditCriteria)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button id="delete_audit{{i}}" mat-icon-button color="accent"
                (click)="deleteItem(i, row.id, row.code, row.name)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
