<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    Id: {{data.id}}
    <p></p>
    First Name: {{data.firstName}}
    <p></p>
    Last Name: {{data.lastName}}
    <p></p>

    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
  </div>
</div>
