<div class="container">
  <h3 mat-dialog-title>Add Area to Project:</h3>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="area">
        <mat-select placeholder="Area" [(ngModel)]="idArea" name="Area">
          <mat-option *ngFor="let index of dataRead" [value]="index.id">
            {{index.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="estado">
        <mat-select placeholder="estado" [(ngModel)]="estado" name="estado">
          <mat-option  value="Terminado">
            Terminado
          </mat-option>
          <mat-option  value ="En curso">
            En curso
          </mat-option>
          <mat-option  value="Detenido">
            Detenido
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click) = "AddAreaProject()" [disabled]="!formControl.valid" [mat-dialog-close]="1">
        Save
      </button>
      <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
