<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    Id: {{data.id}}
    <!--<p></p>-->
    <!--code: {{data.code}}-->
    <p></p>
    name: {{data.name}}
    <p></p>
    description: {{data.description}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
