<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <mat-card *ngIf="incident" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{incident.name | uppercase}}</h3>
        <h3>"ID del incidente" {{incident.id}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{incident.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
