<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address style="text-size: 80%">
          121, Dr. Drive <br>
          San Jose, California<br>
          MOUNTAIN VIEW<br>
          <i class="fa fa-phone"></i>: +1 1234 5678<br>
          <i class="fa fa-fax"></i>: +1 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:acme-info@acme.net">acme-info@acme.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+112345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:acme-info@acme.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>
  <!--Angular Reactive Forms-->
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send us your Feedback</h3>
    <!--  <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>-->
    <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-input-container class="half-width"
                             dividerColor="{{(feedbackForm.get('firstname').hasError('required') &&
          feedbackForm.get('firstname').touched) ? 'warn' : 'primary'}}">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-hint>
                <span
                  [hidden]="!(feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched)">
                  firstname is required</span>
          </mat-hint>
        </mat-input-container>

        <mat-input-container class="half-width"
                             dividerColor="{{(feedbackForm.get('lastname').hasError('required') &&
                             feedbackForm.get('lastname').touched) ? 'warn' : 'primary'}}">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-hint>
                <span [hidden]="!(feedbackForm.get('lastname').hasError('required') && feedbackForm.get('lastname').touched)">
                  lastname is required</span>
          </mat-hint>
        </mat-input-container>
      </p>
      <p>
        <mat-input-container class="half-width"
                             dividerColor="{{(feedbackForm.get('telnum').hasError('required') &&
                             feedbackForm.get('telnum').touched) ? 'warn' : 'primary'}}">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
          <mat-hint>
                <span [hidden]="!(feedbackForm.get('telnum').hasError('required') && feedbackForm.get('telnum').touched)">
                  Tel. number is required</span>
          </mat-hint>

        </mat-input-container>
        <mat-input-container class="half-width"
                             dividerColor="{{(feedbackForm.get('email').hasError('required') &&
                             feedbackForm.get('email').touched) ? 'warn' : 'primary'}}">
          <input matInput formControlName="email" placeholder="Email" type="email" required>
          <mat-hint>
                <span [hidden]="!(feedbackForm.get('email').hasError('required') && feedbackForm.get('email').touched)">
                  Email ID is required</span>
          </mat-hint>
        </mat-input-container>
      </p>
      <table class="form-size">
        <td class="half-width">
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td class="half-width">
          <mat-select formControlName="contacttype" placeholder="How?">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ctype}}
            </mat-option>
          </mat-select>
        </td>
      </table>
      <p>
        <mat-input-container class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
        </mat-input-container>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
    </form>
  </div>

</div>
