<div >
  <div id="chartContainer" style = "width:70%; float: left;">
    <h3> COUNT EVENTUALITY GRAPHIC BAR</h3>
  <!--<div id="chartContainer">-->
    <canvas id="myChart" baseChart width="600" height="700"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
</div>

