<div style="visibility: hidden">
  <div  style="width: 40%; float: left;">
    <h3>EVENTUALITY GRAPHIC PIE</h3>
  <!--<div>-->
    <!--<canvas id="myChart2" baseChart-->
    <canvas id="myChart2" baseChart width="400" height="400"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">

    </canvas>
  </div>

</div>
<br/><br/>
