<mat-toolbar color="#f5f5f5">
  <span>Register Contract</span>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <form [formGroup]="formContract">
      <div class="middle">
        <div>
          <label>Code: </label>
          <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput placeholder="Code" formControlName="code">
            <mat-error *ngIf="code.invalid">This code is required.</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Type:</label>
          <mat-form-field floatPlaceholder="never" color="accent">
            <mat-select placeholder="Select a type contract" formControlName="typeForm">
              <mat-option *ngFor="let typeContract of typeContractList" [value]="typeContract.id">
                {{typeContract['typeContract']}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="typeForm.invalid">Select a type</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Project:</label>
          <mat-form-field floatPlaceholder="never" color="accent">
            <mat-select placeholder="Select a project" formControlName="projectForm">
              <mat-option *ngFor="let project of projectList" [value]="project.id">
                {{project['name']}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="projectForm.invalid">Select a project</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Begin Date: </label>
          <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput [matDatepicker]="beginD" placeholder="Begin Date"
                   (keyup)="clear(beginDate)" formControlName="beginDate">
            <mat-datepicker-toggle matSuffix [for]="beginD"></mat-datepicker-toggle>
            <mat-datepicker #beginD disabled="false"></mat-datepicker>
            <mat-error *ngIf="beginDate.invalid">The begin date is required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>End Date: </label>
          <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput [matDatepicker]="endD"
                   (keyup)="clear(endDate)" placeholder="End Date" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endD"></mat-datepicker-toggle>
            <mat-datepicker #endD disabled="false" [startAt]="minDate"></mat-datepicker>
            <mat-error *ngIf="endDate.invalid">The end date is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="middle">
        <div>
          <label>Work position:</label>
          <mat-form-field floatPlaceholder="never" color="accent">
            <mat-select placeholder="Select a position" formControlName="workPositionForm">
              <mat-option *ngFor="let position of positionList" [value]="position.id">
                {{position['name']}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="workPositionForm.invalid">Select a position</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Amount: </label>
          <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput type="number" placeholder="Amount" formControlName="amount">
            <mat-error *ngIf="amount.invalid">The amount is require</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Type payment: select</label>
          <mat-form-field floatPlaceholder="never" color="accent">
            <mat-select placeholder="Select a type" formControlName="typePaymentForm">
              <mat-option *ngFor="let type of typePayment" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="typePaymentForm.invalid">Select a type of payment</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Employee:</label>
          <mat-form-field MatFormFieldControl floatPlaceholder="never" color="accent">
            <input matInput placeholder="Insert an employee" (keyup)="search($event)" formControlName="employeeForm"
                   [matAutocomplete]="employeeComplete">
            <mat-autocomplete #employeeComplete="matAutocomplete">
              <mat-option *ngFor="let emp of employeesList" (onSelectionChange)="selectEmployee(emp.id)"
                          [value]="emp.fullName">
                {{ emp.fullName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div>
          <label>Selected employee:</label>
          <mat-form-field>
            <input matInput formControlName="hiddenEmployeeForm" readonly>
            <mat-error *ngIf="hiddenEmployeeForm.invalid">Enter an employee</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="button">
        <button mat-button class="btn" (click)="submit()" [disabled]="formContract.invalid">Save</button>
      </div>
    </form>
  </div>
</div>

