$left: 20px;
$right: 20px;
$label-width: 20%;
$input-width: 50%;
.form {
  width: 100%;
}

form div .middle div {
  width: calc(100% - #{$left} - #{$right});
}

.middle {
  width: calc(50% - #{$left} - #{$right});
  float: left;
  height: auto;
}

form div .middle div, .middle, .button {
  margin-left: $left;
  margin-right: $right;
}

.button {
  margin-bottom: 20px;
}

.mat-grid-tile .mat-figure {
  display: block;
}

label {
  width: $label-width;
}

input {
  width: $input-width;
}
