/* ==Tables */
/* ----------------------------------------------- */
$left: 20px;
$right: 20px;
.table {
  width: calc(100% - #{$left} - #{$right});
}

.table-bordered thead tr,
.table-bordered tfoot tr {
  background-color: #f3f3f3;
}

.table-bordered thead tr th,
.table-bordered tfoot tr th {
  color: #444;
  font-size: 12px;
  font-weight: 800;
  background-color: transparent;
  border-bottom-width: 1px;
  vertical-align: middle;
}

.table-bordered.table-highlight {
  border-top-color: #111;
}

.table-bordered.table-highlight thead tr:first-child {
  background-color: #363636;
}

.table-bordered.table-highlight thead tr:first-child th {
  color: #fff;
  font-weight: 600;
  border: 1px solid #2c2c2c;
}

thead {
  height: 30px;
}

tbody {
  text-align: center;
}
