<mat-toolbar color="#f5f5f5">
  <span>Register Contract</span>
</mat-toolbar>

<div class="container mat-elevation-z8">
  <table class="table table-bordered table-highlight">
    <thead>
    <tr>
      <th>No</th>
      <th>Code</th>
      <th>Type contract</th>
      <th>Project</th>
      <th>Begin date</th>
      <th>End date</th>
      <th>Amount</th>
      <th>Type payment</th>
      <th>Employee</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contractList;let i=index;">
      <td>{{i+1}}</td>
      <td>{{contract['contractCode']}}</td>
      <td>{{contract['typeContractName']}}</td>
      <td>{{contract['projectName']}}</td>
      <td>{{contract['initDate']}}</td>
      <td>{{contract['endDate']}}</td>
      <td>{{contract['contractAmount']}}</td>
      <td>{{contract['paymentType']}}</td>
      <td>{{contract['employeeFullName']}}</td>
    </tr>
    </tbody>
  </table>
</div>
