<div class="container">
  <mat-toolbar color="#f5f5f5">
    <h3 mat-dialog-title>Add New Accident or Incident</h3>
  </mat-toolbar>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Type Event" [(ngModel)]="data.type" name="typeEvent">
          <mat-option *ngFor="let typeEvent of typeEvents" [value]="typeEvent.value">
            {{typeEvent.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <p> Selected value: {{data.type}} </p>
    </div>
    <div class="form">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of event" [(ngModel)]="data.dateEvent"
             name="dateEvent">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
    <div class="form">
      <p> Selected value: {{data.dateEvent}} </p>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Injury Type" [(ngModel)]="data.injuryType" name="injuryType">
          <mat-option *ngFor="let injuryType of injuryTypes" [value]="injuryType.value">
            {{injuryType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <p> Selected value: {{data.injuryType}} </p>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Injury Part" [(ngModel)]="data.injuryPart" name="injuryPart">
          <mat-option *ngFor="let injuryPart of injuryParts" [value]="injuryPart.value">
            {{injuryPart.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <p> Selected value: {{data.injuryPart}} </p>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Leave a description" [(ngModel)]="data.description"
                  name="description"></textarea>
      </mat-form-field>
    </div>
    <div class="form">
      <p> Selected value: {{data.description}}</p>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Employee ID" [(ngModel)]="data.employee" name="employee">
          <mat-option *ngFor="let employee of employees" [value]="employee.value">
            {{employee.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <p> Selected value: {{data.employee}}</p>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
        Save
      </button>
      <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
