<div class="container">
  <h3 mat-dialog-title>Category id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--<div class="form">-->
      <!--<mat-form-field color="accent">-->
        <!--<input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >-->
        <!--<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea id="editCode" matInput #input class="form-control" placeholder="Code" [(ngModel)]="data.code" name="code" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input  id="editName" matInput #inputstate class="form-control" placeholder="Name" [(ngModel)]="data.name" name="Name" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input  id="editDescription" matInput #inputstate class="form-control" placeholder="Description" [(ngModel)]="data.description" name="Description" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>


    <div mat-dialog-actions>
      <button id="saveupdate" mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
