<div class="container">
  <mat-toolbar color="#f5f5f5">
    <h3 mat-dialog-title>Add New Area</h3>
  </mat-toolbar>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #code maxlength="30" class="form-control" placeholder="Code" [(ngModel)]="data.code"
                  name="code"
                  required></textarea>
        <mat-hint align="start"><strong>Enter Area code</strong> </mat-hint>
        <mat-hint align="end">{{code.value.length}} / 30</mat-hint>
      </mat-form-field>
    </div>
    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #name maxlength="100" class="form-control" placeholder="Name" [(ngModel)]="data.name"
                  name="name"
                  required></textarea>
        <mat-hint align="start"><strong>Enter Area name</strong> </mat-hint>
        <mat-hint align="end">{{name.value.length}} / 100</mat-hint>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
        Save
      </button>
      <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
