<div class="container">
  <mat-toolbar color="#f5f5f5">
    <h3 mat-dialog-title>Audit id: {{data.id}}</h3>
  </mat-toolbar>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Audit Name" [(ngModel)]="data.auditName"
                  name="auditName"
                  required></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Audit Code" [(ngModel)]="data.auditCode"
                  name="auditCode"
                  required></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Audit Type" [(ngModel)]="data.auditType"
                  name="auditType"
                  required></textarea>

      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Audit Periodicity" [(ngModel)]="data.auditPeriodicity"
                  name="auditPeriodicity"
                  required></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Audit Scope" [(ngModel)]="data.auditScope"
                  name="auditScope"
                  required></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Audit Objective" [(ngModel)]="data.auditObjective"
                  name="auditObjective"
                  required></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Audit Criteria" [(ngModel)]="data.auditCriteria"
                  name="auditCriteria"
                  required></textarea>
      </mat-form-field>
    </div>


    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">
        Save
      </button>
      <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
