<div class="container">
  <mat-toolbar color="#f5f5f5">
    <h3 mat-dialog-title>Add New SafetyRule</h3>
  </mat-toolbar>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Policy Code" [(ngModel)]="data.policyCode"
                  name="policyCode"></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Policy Name" [(ngModel)]="data.policyName" name="namePolicy">
          <mat-option *ngFor="let namePolicy of namePolicies" [value]="namePolicy.value">
            {{namePolicy.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Compliance Parameter" [(ngModel)]="data.complianceParameter" name="complParam">
          <mat-option *ngFor="let complParam of complParams" [value]="complParam.value">
            {{complParam.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Compliance Metric" [(ngModel)]="data.complianceMetric"
                  name="complianceMetric"></textarea>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
        Save
      </button>
      <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
