<div class="container">
  <mat-toolbar color="#f5f5f5">
    <h3 mat-dialog-title>Add New Audit</h3>
  </mat-toolbar>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    Textarea for add new Audit
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Audit Name" [(ngModel)]="data.auditName"
                  name="auditName"></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Audit Code" [(ngModel)]="data.auditCode"
                  name="auditCode"></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Audit Type" [(ngModel)]="data.auditType" name="typeEvent">
          <mat-option *ngFor="let typeAudit of typeAudits" [value]="typeAudit.value">
            {{typeAudit.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Audit Periodicity" [(ngModel)]="data.auditPeriodicity" name="typeEvent">
          <mat-option *ngFor="let periodicityAudit of periodicityAudits" [value]="periodicityAudit.value">
            {{periodicityAudit.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Audit Scope" [(ngModel)]="data.auditScope"
                  name="auditScope"></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Audit Objective" [(ngModel)]="data.auditObjective"
                  name="auditObjective"></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Audit Criteria" [(ngModel)]="data.auditCriteria"
                  name="auditCriteria"></textarea>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
        Save
      </button>
      <button mat-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
