<mat-toolbar color="#f5f5f5">
  <span>AuditHistory</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter AuditHistory">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <ng-container matColumnDef="tableName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Table Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tableName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="columnName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Column Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.columnName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="oldValue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Old Value</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.oldValue}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="newValue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>New Value</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.newValue}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="modifiedBy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Modified By</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.modifiedBy}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="typeOperation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type Operation</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.typeOperation}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
