<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="40">

    <div fxFlex *ngIf="incident">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>
            <h3>{{incident.name | uppercase}}</h3>
            <h4>{{"Id del incidente:" + incident.id }}</h4>
          </mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          <p>{{incident.type}}</p>
          <p>{{incident.description}}</p>
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-button (click)="goBack()">Back</button>
          <button mat-button (click)="onAction($event)">Siguiente</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

  <div fxFlex="40">
    <mat-list dense>
      <mat-list-item *ngFor="let comment of incident.comments">
        <p matLine>{{comment.comment}}</p>
        <p matLine>{{comment.rating}} Stars</p>
        <p matLine><cite>-- {{comment.author}} {{comment.date | date}}</cite></p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
