<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>ACME</h1>

    <p>We take inspiration from the World's best safety practices, and create a unique fusion experience. Our awesome
      safety protection items.
      will tickle your safety vision!
    </p>
    <br>
    <p>
      Our resources have proven experience in the world of industrial security, with prestigious certifications
      recognized worldwide and having participated in security projects for multiple sectors.
    </p>

    <br>
    <p>
      Among the values we promote, we must highlight our commitment and passion for what we do
    </p>

  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="../../assets/images/acmelogo.jpg" alt="Logo" width="200" height="200">
  </div>
  <div fxFlex></div>
</div>
